
<div class="portada">
<div class="row">
  <div class="col-lg-1">
    
  </div>
    <div class="col-lg-11">
        <%= image_tag "/assets/anime/fondos/portada.png", :class => "img-responsive" %>
    </div>
</div>
</div>



  <div class="main">
    <div class="slides">
      <div>
      <%= image_tag "/assets/anime/slideshow/1.jpg", class: "img-responsive" %>
      </div>
	  <div>
	  <%= image_tag "/assets/anime/slideshow/2.jpg", class: "img-responsive" %>
	  </div>
	  <div>
	  <%= image_tag "/assets/anime/slideshow/3.jpg" %>
	  </div>
	  <div>
	  <%= image_tag "/assets/anime/slideshow/4.jpg" %>
	  </div>
	</div>
  </div>


	<script>
 
	$(function(){
  $(".slides").slidesjs({
    play: {
      active: true,
        // [boolean] Generate the play and stop buttons.
        // You cannot use your own buttons. Sorry.
      effect: "slide",
        // [string] Can be either "slide" or "fade".
      interval: 3000,
        // [number] Time spent on each slide in milliseconds.
      auto: true,
        // [boolean] Start playing the slideshow on load.
      swap: true,
        // [boolean] show/hide stop and play buttons
      pauseOnHover: false,
        // [boolean] pause a playing slideshow on hover
      restartDelay: 2500
        // [number] restart delay on inactive slideshow
    }
  });
});
 
	</script>