<!--
<div class="portada">
  <div class="container">
    <%= image_tag "/assets/anime/fondos/portada.png", :class => "img-responsive" %>
  </div>
</div>

-->
<div class="container-fluid-full">
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-header">
        <h1 class="title text-center">Anime Recientes</h1>
        <h3>La página sigue en construcción, te vas a enojar papu?</h3>
      </div>
      <div class="panel-body">
        <div class="body">
          <div class="text-center">
            <div class="row">
              <% @animes.each do |anime| %>
              <div class="col-lg-12">
                  <figure class="imghvr-blur img_home"><div <%= link_to (image_tag anime.image.url(:medium), class: 'img-responsive'), anime %> </div>
                    <figcaption>
                      <p class="text-center titulo_anime_home"><strong><%= link_to anime.short_title, anime%></strong></p>
                      <p class="text-center uploader_anime_home"><strong><%= link_to anime.uploader, anime%></strong></p>
                      <p class="text-center episodes_anime_home"><strong><%= link_to anime.anime_episodes, anime%></strong></p>
                    </figcaption>
                    </figure>
                      <p class="text-center date_anime_home"><strong>[<%= link_to anime.anime_date_home, anime%>][<%= link_to anime.resolution, anime%>]</strong></p>
                      <p class="text-center description_anime_home"><strong><%= link_to anime.description, anime%></strong></p>
                  </div>
              <% end %>
            </div>
          </div>
          <%= will_paginate @animes, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente", inner_window: 3, outer_window:  0%>
        </div>

        </div>
      </div>
    </div>
  </div>
