

<%= form_for @anime, html: { multipart: true } do |f| %>
  <% if @anime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

      <ul>
      <% @anime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Título %><br>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Descripción %><br>
    <%= f.text_area :description, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Peso_por_capitulo %><br>
    <%= f.text_field :anime_size, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Estudio %><br>
    <%= f.text_field :studio, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Tipo %><br>
    <%= f.text_field :rating, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Fansub %><br>
    <%= f.text_field :fansub, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Idioma %><br>
    <%= f.text_field :language, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Subtitulos %><br>
    <%= f.text_field :subtitles, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :OVAs %><br>
    <%= f.text_field :ovas, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Resolución %><br>
    <%= f.text_field :resolution, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Formato %><br>
    <%= f.text_field :file_format, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Episodios %><br>
    <%= f.text_field :anime_episodes, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Servidor %><br>
    <%= f.text_field :server, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Uploader %><br>
    <%= f.text_field :uploader, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Año %><br>
    <%= f.text_field :year, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Generos %><br>
    <%= f.text_field :genre, autocomplete: "off", class: 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Portada %><br>
    <%= f.file_field :image, :class => 'btn btn-warning'  %>
    
    <br>
  </div><br>
  <div class="field">
    <%= f.label :Capturas %><br>
    <%= f.file_field :capture, :class => 'btn btn-warning'  %>
    
    <br>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-success' %>
  </div>
<% end %>


</div>