<!-- helper si usuario no esta registrado <% if !user_signed_in? %>

<%end%> -->

<div class="container-fluid">
<div id="main_content">
    <div id="header">
      <h2 class="text-center titulos">Anime</h2>
    </div><br><br>

<div class="row">
  <% @animes.each do |anime| %>
  <div class="col-sm-6 col-md-3 col-lg-3 col-xs-6">
    <div class="thumbnail">
      <%= link_to (image_tag anime.image.url(:medium), class: 'img-responsive'), anime %>
          <br>
          <p class="text-center titulo-uploader"><strong>[<%= link_to anime.uploader, anime%>][<%= link_to anime.rating, anime%>]</strong></p>
          <p class="text-center titulo-anime2"><strong><%= link_to anime.short_title, anime%></strong></p>
          <p class="text-center resolucion-anime2"><strong>[<%= link_to anime.resolution, anime%>][<%= link_to anime.anime_episodes, anime%>]</strong></p>
          <p class="text-center descripcion-anime2"><strong><%= link_to anime.description, anime%></strong></p>
    <!--<td><%= link_to 'Ver', anime_path(anime) %></td>-->

    </div>
  </div>
  <% end %>
</div>


<!--
<div class="row">

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag "/assets/anime/portadas/anohana.jpg", :class => "img-responsive portada-anime"), animes_anohana_path %>
      <tr>
      <p class="text-center titulo-anime"><strong>Anohana</strong></p>
     </tr>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag "/assets/anime/portadas/anohana.jpg", :class => "img-responsive portada-anime"), animes_anohana_path %>
      <tr>
      <p class="text-center titulo-anime"><strong>Anohana</strong></p>
     </tr>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag "/assets/anime/portadas/anohana.jpg", :class => "img-responsive portada-anime"), animes_anohana_path %>
      <tr>
      <p class="text-center titulo-anime"><strong>Anohana</strong></p>
     </tr>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag "/assets/anime/portadas/anohana.jpg", :class => "img-responsive portada-anime"), animes_anohana_path %>
      <tr>
      <p class="text-center titulo-anime"><strong>Anohana</strong></p>
     </tr>
    </div>
  </div>


</div>  -->

 <!-- Pagination
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="disabled">
                        <%= link_to '⬅', animes_path %>
                    </li>
                    <li class="active">
                         <%= link_to '1', animes_path %>
                    </li>
                    <li>
                        <%= link_to '2', animes_2_path %>
                    </li>
                    <li>
                        <%= link_to '3', animes_2_path %>
                    </li>

                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <%= link_to '➡', animes_2_path %>
                    </li>
                </ul>
            </div>
        </div>
        -->





<%= will_paginate @animes, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente", inner_window: 3, outer_window:  0%>
</div>
</div>
