<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
      <div class="col-sm-12">
      <div class="portada-anime">
      <%= image_tag @anime.image.url(:medium), class: "img-responsive" %>
      </div>
      </div><!--heroku es una estafa
      <div class="star-rating" data-score= <%= @avg_review %> ></div>
      <em><%="#{@reviews.length} Votos" %></em>-->
        <div class="table-responsible">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Titulo:</strong></td>
                <td><%= @anime.title %></td>
              </tr>
              <tr>
                  <td><strong>Descripción:</strong></td>
                  <td><%= @anime.description %></td>
              </tr>
              <tr>
                <td><strong>Peso por capitulo</strong></td>
                <td><%= @anime.anime_size %></td>
              </tr>

              <tr>
                <td><strong>Estudio:</strong></td>
                <td><%= @anime.studio %></td>
              </tr>

              <tr>
                <td><strong>Tipo:</strong></td>
                <td><%= @anime.rating %></td>
              </tr>

              <tr>
                <td><strong>Fansub:</strong></td>
                <td><%= @anime.fansub %></td>
              </tr>

              <tr>
                <td><strong>Idioma:</strong></td>
                <td><%= @anime.language %></td>
              </tr>

              <tr>
                <td><strong>Subtitulos:</strong></td>
                <td><%= @anime.subtitles %></td>
              </tr>

              <tr>
                <td><strong>OVAs:</strong></td>
                <td><%= @anime.ovas %></td>
              </tr>

              <tr>
                <td><strong>Resolución:</strong></td>
                <td><%= @anime.resolution %></td>
              </tr>

              <tr>
                <td><strong>Formato:</strong></td>
                <td><%= @anime.file_format %></td>
              </tr>

              <tr>
                <td><strong>Episodios:</strong></td>
                <td><%= @anime.anime_episodes %></td>
              </tr>

              <tr>
                <td><strong>Servidor:</strong></td>
                <td><%= link_to "MEGA", @anime.server,  target: "_blank",class: "btn btn-danger" %></td>
              </tr>

              <tr>
                <td><strong>Uploader:</strong></td>
                <td><%= @anime.uploader %></td>
              </tr>

              <tr>
                <td><strong>Año:</strong></td>
                <td><%= @anime.year %></td>
              </tr>

              <tr>
                <td><strong>Generos:</strong></td>
                <td><%= @anime.genre %></td>
              </tr>

             </tbody> 
          </table> 
          <div class="capturas">
           <strong>Capturas:</strong>
              <%= image_tag @anime.capture.url(:medium), class: "img-responsive" %> 
          </div>

          <% if user_signed_in? %>
          <%= link_to "Escribe una opinión", new_anime_review_path(@anime), class: "btn btn-success" %>
          <% else %>
          <%= link_to "Necesitas estar registrado para votar", new_user_registration_path, class: "btn btn-info" %>

          <% end %>
        </div>
      </div>
<!-- Heroku es una estafa  
        <div class="reviews-panel">
        <div class="col-md-7 col-md-offset-1">
          <h1 class="review_title"><%= @anime.title %></h1>
          <p><%= @anime.description %></p>
          <br><br><hr>

          <% if @reviews.blank? %>
          <h3>Sin criticas hasta ahora, te gustaria ser el primero en opinar?</h3>
          <%= link_to "Escribe tu opinión", new_anime_review_path(@anime), class: "btn btn-danger" %>
          <%else%>
          <% @reviews.each do |review| %>
          <div class="reviews">
            <div class="star-rating" data-score= <%= review.rating %>> </div>
            <p><%= review.comment %></p>
        
          </div>
          <%end%>
          <%= will_paginate @reviews, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente", inner_window: 3, outer_window:  0%>
          <%end%>
        </div>
      </div>-->
    </div>
  </div>
  <% if current_user.try(:admin?) %>
<%= link_to 'Atras', animes_path, class: "btn btn-info" %> |
<%= link_to 'Editar', edit_anime_path(@anime), class: "btn btn-success" %> |
<%= link_to 'Borrar', anime_path(@anime), method: :delete, class: "btn btn-danger", data: {confirm: '¿Estas seguro que quieres borrar este anime?'} %>

<%end%>


</div>


<%= render 'disqus' %>



<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>


