<%= image_tag @anime.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @anime.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @anime.description %>
</p>

<p>
  <strong>Anime size:</strong>
  <%= @anime.anime_size %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @anime.studio %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @anime.rating %>
</p>

<p>
  <strong>Fansub:</strong>
  <%= @anime.fansub %>
</p>

<p>
  <strong>Language:</strong>
  <%= @anime.language %>
</p>

<p>
  <strong>Subtitles:</strong>
  <%= @anime.subtitles %>
</p>

<p>
  <strong>Ovas:</strong>
  <%= @anime.ovas %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @anime.resolution %>
</p>

<p>
  <strong>File format:</strong>
  <%= @anime.file_format %>
</p>

<p>
  <strong>Anime episodes:</strong>
  <%= @anime.anime_episodes %>
</p>

<p>
  <strong>Server:</strong>
  <%= @anime.server %>
</p>

<p>
  <strong>Uploader:</strong>
  <%= @anime.uploader %>
</p>

<p>
  <strong>Year:</strong>
  <%= @anime.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @anime.genre %>
</p>

<%= link_to 'Edit', edit_anime_path(@anime) %> |
<%= link_to 'Back', animes_path %>
