<div class="container">
  <div class="col-lg-11">
  <div class="panel panel-default show-anime">
    <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-8 col-xs-12">
        <%= image_tag @anime.image.url(:medium), class: "img-responsive" %>
          <div class="principal text-center">
            <article>
              <h2>Votos</h2>
              <div class="star-rating" data-score= <%= @avg_review %> ></div>
              <p> <%="#{@reviews.length} Votos" %></p>
            </article>
            <article>
              <h2 class="titulo">Sinopsis</h2>
              <p style="line-height: 2em; font-size: 15pt"><%= @anime.description %></p>
            </article>
            <article>
              <h2 class="titulo">Ficha tecnica</h2>
              <p class="fecha"><%= @anime.created_at.strftime("%d %b. %Y") %></p>
              <p ALIGN="center" style="font-size: 16pt"><br>
              <strong class="color-gris">Nombre Original:</strong> <%= @anime.title %><br>
              <strong class="color-gris">Uploader:</strong> <%= @anime.uploader %><br>
              <strong class="color-gris">Género:</strong> <%= @anime.genre %><br>
              <strong class="color-gris">Episodios:</strong><%= @anime.anime_episodes %><br>
              <strong class="color-gris">Año:</strong> <%= @anime.year %><br>
              <strong class="color-gris">Resolución:</strong><%= @anime.resolution %><br>
              <strong class="color-gris">Formato:</strong> <%= @anime.file_format %><br>
              <strong class="color-gris">Idioma:</strong> <%= @anime.language %><br>
              <strong class="color-gris">Subtítulos:</strong> <%= @anime.subtitles %><br>
              <strong class="color-gris">Estudio:</strong> <%= @anime.studio %><br>
              <strong class="color-gris">Peso por capitulo:</strong><%= @anime.anime_size %><br>
              <strong class="color-gris">Tipo:</strong> <%= @anime.rating %><br>
              <strong class="color-gris">Ovas:</strong> <%= @anime.ovas %><br>
              <strong class="color-gris">Fansub:</strong> <%= @anime.fansub %><br>
              <strong class="color-gris">Contraseña:</strong> Sin contraseña :)<br>
              </p>
            </article>
            <article>
              <h2 class="titulo">Capturas:</h2>
                <table BORDER="1">
                  <tr>
                    <td>
                      <%= image_tag @anime.capture.url(:medium), class: "img-responsive"%>
                    </td>
                  </tr>
                </table>
              </article>
              <article align="center"><br>
                <div class="text-center">
                  <br><br>
                  <% if user_signed_in? %>
                      <%= link_to "Descargar", @anime.server,  target: "_blank",class: "boton" %><br>
                  <%=image_tag "/assets/botonmega.png", :class => "botonmega"%>
                      <% else %>
                      <%= link_to "Necesitas Iniciar sesión para descargar",  user_session_path, class: "btn btn-info" %>
                     <% end %>
                   </div>
               </article>
               <% if current_user.try(:admin?) %>
                 <article>
                   <h2 class="titulo">Configuración:</h2>
                     <%= link_to 'Atras', animes_path, class: "btn btn-info" %> |
                     <%= link_to 'Editar', edit_anime_path(@anime), class: "btn btn-success" %> |
                     <%= link_to 'Borrar', anime_path(@anime), method: :delete, class: "btn btn-danger", data: {confirm: '¿Estas seguro que quieres borrar este anime?'} %>
                   </article>
               <%end%>
             </div>
              </div>

              <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                <div class="panel panel-default reviews-panel">
                  <h1 class="panel-header">Criticas
                    <% if user_signed_in? %>
                      <%= link_to "Escribe una opinión", new_anime_review_path(@anime), class: "btn btn-success" %>
                    <% else %>
                      <%= link_to "Necesitas Iniciar sesión para votar",  user_session_path, class: "btn btn-info" %>
                    <% end %>
                  </h1>
                  <br>
                    <br>
                      <hr>
                      <% if @reviews.blank? %>
                        <h3>¡Se el primero en opinar!</h3><br>
                          <%= link_to "Escribe tu opinión", new_anime_review_path(@anime), class: "btn btn-danger" %>
                      <%else%>
                        <% @reviews.each do |review| %>
                          <div class="reviews">
                            <div class="star-rating" data-score= <%= review.rating %>> </div>
                            <p class="review-fecha">Fecha: <%= review.created_at.strftime("%d %b %Y") %></p>
                              <p class="review-username"><%= review.user.username %></p>
                              <p class="review-comment"><%= review.comment %></p>

                            </div>
                      <%end%>
                      <%= will_paginate @reviews, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente", inner_window: 3, outer_window:  0%>
                      <%end%>
                    </div>
                  </div>
      </div>
    </div>
      <%= render 'disqus' %>
  </div>
</div>

<div class="hidden-xs">
  <%=image_tag "/assets/rory2.png", :class => "rory"%>
  <%=image_tag "/assets/steins.png", :class => "steins"%>
</div>



<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    }
  });
</script>
