<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
       <% end %>
    </ul>
  </div>
  <% end %>
 <div class="field">
    <%= f.label :Titulo %><br>
    <%= f.text_field :title %>
 </div><br>


 <div class="field">
    <%= f.label :Noticia %><br>
    <%= f.text_area :body %>
  </div>
<!--
 <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: 'btn btn-warning'  %>
    <br>-->
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>