<div class="container">
	<div id="main_content">
	  <div id="header">
	    <h2 class="titulos text-center">Noticias</h2>
			<% if current_user.try(:admin?) || current_user.try(:moderator?) %>
	    <div class="buttons">
	    	<%= link_to "Nueva noticia", new_post_path, class: "btn btn-default"%>
	    </div>
			<% end %>
	  </div>
	  <% flash.each do |name, msg|%>
	  <%= content_tag(:div, msg, class: "alert") %>
	  <% end %>


<% @posts.each do |post| %>
<div class="post_wrapper">
  <h4 class="title"><%= link_to post.title, post %></h4>
  <p class="body"><%= link_to post.body, post %></p>
  <p class="date"> <%= post.created_at.strftime("%B, %d, %Y") %> </p>
</div>
<% end %>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente", inner_window: 3, outer_window:  0%>

	</div>
</div>
