  <div id="main_content">
    <div id="header">
      <p>Noticias</p>
      <% if current_user.try(:admin?) %>
      <div class="buttons">
        <%= link_to "Nueva noticia", new_post_path, class: "btn btn-primary"%>
      </div>
      <% end %>
    </div>
    <% flash.each do |name, msg|%>
    <%= content_tag(:div, msg, class: "alert") %>
    <% end %>


<div id="page_wrapper">
<h1>Nueva noticia</h1>

<%= form_for :post, url: posts_path do |f| %>
  <% if @post.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
       <% end %>
    </ul>
  </div>
  <% end %>
 <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
 </div>


 <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
<!--
 <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: 'btn btn-warning'  %>
    <br>-->

  <div class="actions">
    <%= f.submit 'Nuevo Post', :class => 'btn btn-success' %>
  </div>
<% end %>

</div>
</div>