  <div id="main_content">

	  <div class="post_content container-fluid">
	  <h1 class="title">
	  <%= @post.title %>
	  </h1><br>
      <p class="body">
	  <%= @post.body %>
	  </p><br><br><br>
	  <p class="date">
	    Posted <%= time_ago_in_words(@post.created_at) %> Ago
	    <br><br>
	    <% if current_user.try(:admin?) %>
	    <%= link_to 'Editar', edit_post_path(@post) %> |
	    <%= link_to 'Borrar', post_path(@post), method: :delete, data: {confirm: '¿Estas seguro de querer borrar este post?'} %><br>
	    <% end %>
	  </p>



<!--

	  <div id="comments">
	  	<h2><%= @post.comments.count %> Comentarios</h2>
	  	<hr>
	  	<%= render @post.comments %><br>
		<hr>
	  	<h3> Añadir comentario:</h3>
	  	<%= render "comments/form" %>

	</div>	-->

</div>
	  <%= render 'disqus' %>

</div>