<!DOCTYPE html>
<html>
<head>
  <title>Anime Gate</title>
  <%= favicon_link_tag 'favicon.gif' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Permanent+Marker|Oswald|Chewy|Kaushan+Script|Anton|Lobster|Rock+Salt' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="boton-sidebar hidden-xs">
    <button class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</button>
  </div>
  <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>


  <!-- Sidebar -->
  <div class="w3-sidebar w3-bar-block w3-white w3-animate-left" style="display:none;z-index:4" id="mySidebar">
    <br>
    <div class="text-center">
      <button type="button" class="btn btn-default" onclick="w3_close()">Cerrar</button>
    </div>
    <br>
    <!--<a href="#" class="w3-bar-item w3-button">Link 1</a>-->

    <% if user_signed_in? %>
    <hr>
    <div class="text-center">
    <h2>Cuenta</h2>
    <div class="user-image">
      <%= image_tag(current_user.avatar.url(:thumb), :class => "round-image-50 img-responsive" ) %>
    </div>
    <h3><%= current_user.username %></h3>
    <h4><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></h4>
    </div>
    <% else %>

    <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
      <h2 class="text-center">Acceder</h2>
      </div>
        <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :correo %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :contraseña %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :recuerdame %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Iniciar sesión", class: 'btn btn-lg btn-primary'  %>
        </div>
        <% end %>
        </div>
        <div class="panel-footer">
        <%= render "devise/shared/links" %>
        </div>
    </div>
    </div>
    <%end%>

            <div class="text-center boton-paypal">
              <hr>
              <h2>Donaciones</h2>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYDA1qLz7YDWBELk5j9ixIZjY6XDSWlrI22b7IUmhDjgqRYsumJebIdrB3rhK/xNUn8zHX4wgK787NTlrMs3dQ+xIfXUflaBMH0IVs7HVLnY2w/ocfVN0/NVuaXwky77ZFG+1iqFXHQ6kTGexEqo0cTE9GvQAOU/4nFYWD2OpctO8jELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIHd1jsRihvOOAgZgD9Tioj5RxwZ/y3tUblULDtj5kylzCqlOGYdqYpz0crhilJWzX1f1uJtIz8oKZCAZpfXnvQrpBwpXUPNtushBhPGU+DwKBSTLqiKTaVlSGXtq+7ZPeoi5gELDfw+JRdT9OoWg6y1ahLoFMsvJvO3nGc4ryNaDojAjQIM4bQsExyYRSnznJFefB7SKJOr9noUTLMW7IhKWMqqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE3MDQxOTE2NTcyNFowIwYJKoZIhvcNAQkEMRYEFLFYqQd/aEqqie/pNlph+ZTOZIuTMA0GCSqGSIb3DQEBAQUABIGAG1dvJReunRZuxjo6ltTAA8JgUdSSvWfTcQQGWPqmKMtRmlnFQLHOA22hi0llgX6peY2W90UQfd0BC/xqDwLo8EGV36CxQZ2aTC4TxvyYp4ElpiFShny943e3lJ62qiEE9ytIAk7m06/Z8ZTiOQCHWord1Qa6ofp8w+SBB6m3ySY=-----END PKCS7-----
">
<input type="image" src="http://animegate.herokuapp.com/assets/donar.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>

<p>O..Onii-chan ¿Me ayudas a pagar el servidor para poder seguir subiendo Anime y Manga?</p>
            </div>


            <hr>
          <div class="text-center">
            <h2>Chat</h2>
            <script id="cid0020000110059859320" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 250px;height: 350px;">{"handle":"animegatewebcindario","arch":"js","styles":{"a":"0084ef","b":100,"c":"FFFFFF","d":"FFFFFF","k":"0084ef","l":"0084ef","m":"0084ef","n":"FFFFFF","p":"9.45","q":"0084ef","r":100,"surl":0,"cnrs":"0.35","fwtickm":1}}</script>
          </div>

          <hr>
              <div class="text-center">
              <h2>Usuarios Online</h2>
                <p>En construcción papu</p>
                  <% User.user_recent.each do |user| %>
                  <% end %>
               </div>

  </div>





  <div class="letras">
    <%= render 'layouts/flash_messages' %>
  </div>

  <!-- SCM Music Player http://scmplayer.co -->
<div class="reproductor">
  <script type="text/javascript" src="http://scmplayer.co/script.js"
  data-config="{'skin':'skins/black/skin.css',
  'volume':26,
  'autoplay':true,
  'shuffle':false,
  'repeat':1,
  'placement':'top',
  'showplaylist':false,
  'playlist':[
    {'title':'Abnormalize','url':'https://www.youtube.com/watch?v=n-4SVb8ZoIU'},
    {'title':'Kuchizuke Diamond','url':'https://www.youtube.com/watch?v=PBoaCHmvCZY'},
    {'title':'Enigmatic Feeling','url':'https://www.youtube.com/watch?v=5IoHBOIWM9c'},
    {'title':'Unravel ','url':'https://www.youtube.com/watch?v=9Ov19kHw3Nw'},
    {'title':'Guren no Yumiya','url':'https://www.youtube.com/watch?v=XMXgHfHxKVM'},
    {'title':'Skyreach','url':'https://www.youtube.com/watch?v=eUwmGRJUpYk'},
    {'title':'Signal','url':'https://www.youtube.com/watch?v=WWBKxNIVgac'},
    {'title':'Lay Your Hands On Me','url':'https://www.youtube.com/watch?v=mFc4ujgUYC8'},
    {'title':'Namae no nai Kaibutsu','url':'https://www.youtube.com/watch?v=sF0QLtk3YH0&t=7s'},
    {'title':' Fallen ','url':'https://www.youtube.com/watch?v=mWCWLYM7ieM&t=3s'},
    {'title':'HOW CLOSE YOU ARE','url':'https://www.youtube.com/watch?v=xBRiLB5YTwo'},
    {'title':'Yoru wa Nemureru kai?','url':'https://www.youtube.com/watch?v=Ppl21c_zKo8'},
    {'title':'Death note ed2','url':'https://www.youtube.com/watch?v=q-TfovUbqgQ'},
    {'title':'Alumina','url':'https://www.youtube.com/watch?v=SKWU3tyWnwA'},
    {'title':'Death Note Opening 1 ','url':'https://www.youtube.com/watch?v=zIWqmik75SI'},
    {'title':'Death Note Opening 2','url':'https://www.youtube.com/watch?v=-fSDAahYIEI'},
    {'title':'Deadman Wonderland ','url':'https://www.youtube.com/watch?v=2pZ-UpjtlXY'}
    ]}" >
    </script>
</div>
  <!-- SCM Music Player script end -->




  <!-- Page content -->


  <div class="vacio-por-ahora-contenedor-de-todo">
    <div class="contenedor-slides2">
    <div class="container">
    <div class="contenedor-slides">
<!--
      <div class="container-fluid">
        <div class="hidden-xs">
          <div class="main">
            <div class="slides">
              <div>
                <%= image_tag "/assets/anime/slideshow/portada2.jpg", class: "img-responsive" %>
              </div>
              <div>
                <%= image_tag "/assets/anime/slideshow/portada.jpg", class: "img-responsive" %>
              </div>
              <div>
                <%= image_tag "/assets/anime/slideshow/3.jpg", class: "img-responsive" %>
              </div>
              <div>
                <%= image_tag "/assets/anime/slideshow/1.jpg", class: "img-responsive" %>
              </div>
              <div>
                <%= image_tag "/assets/anime/slideshow/4.jpg", class: "img-responsive" %>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
    </div>
    </div>


    <div class="contenedor-slides2">
      <div class="container">
      <%= render 'layouts/header' %>
      </div>
    </div>


      <div class="container contenedor-todo">
    	  <%= yield %>
      </div>



  </div>







<!--Ley de cookies-->
<div class="">
<div class="cookiesms" id="cookie1">
Esta web utiliza cookies, si gustas puedes ver nuestra política de <%= link_to 'Cookies', cookies_path %>,
si continuas navegando estás aceptándola.
  <button onclick="controlcookies()" class="btn btn-info">Aceptar</button>
    <div  class="cookies2" onmouseover="document.getElementById('cookie1').style.bottom = '0px';">Política de cookies + </div>
</div>
</div>


<script>
if (localStorage.controlcookie>0){
document.getElementById('cookie1').style.bottom = '-50px';
path: '/assets/'
}
</script>
<!--Ley de cookies-->


<!-- JS to open and close sidebar with overlay effect -->
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
