<!DOCTYPE html>
<html>
<head>
  <title>Anime Gate</title>
  <%= favicon_link_tag 'favicon.gif' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Chewy|Lobster|Rock+Salt' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- SCM Music Player http://scmplayer.co -->
  <script type="text/javascript" src="http://scmplayer.co/script.js"
  data-config="{'skin':'skins/black/skin.css','volume':69,'autoplay':true,'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'Abnormalize','url':'https://www.youtube.com/watch?v=n-4SVb8ZoIU'},{'title':'Kuchizuke Diamond','url':'https://www.youtube.com/watch?v=PBoaCHmvCZY'},{'title':'Enigmatic Feeling','url':'https://www.youtube.com/watch?v=5IoHBOIWM9c'},{'title':'Unravel ','url':'https://www.youtube.com/watch?v=9Ov19kHw3Nw'},{'title':'Guren no Yumiya','url':'https://www.youtube.com/watch?v=XMXgHfHxKVM'},{'title':'Skyreach','url':'https://www.youtube.com/watch?v=eUwmGRJUpYk'},{'title':'Signal','url':'https://www.youtube.com/watch?v=WWBKxNIVgac'},{'title':'Lay Your Hands On Me','url':'https://www.youtube.com/watch?v=mFc4ujgUYC8'},{'title':'Namae no nai Kaibutsu','url':'https://www.youtube.com/watch?v=sF0QLtk3YH0&t=7s'},{'title':' Fallen ','url':'https://www.youtube.com/watch?v=mWCWLYM7ieM&t=3s'},{'title':'HOW CLOSE YOU ARE','url':'https://www.youtube.com/watch?v=xBRiLB5YTwo'},{'title':'Yoru wa Nemureru kai?','url':'https://www.youtube.com/watch?v=Ppl21c_zKo8'},{'title':'Death note ed2','url':'https://www.youtube.com/watch?v=q-TfovUbqgQ'},{'title':'Alumina','url':'https://www.youtube.com/watch?v=SKWU3tyWnwA'},{'title':'Death Note Opening 1 ','url':'https://www.youtube.com/watch?v=zIWqmik75SI'},{'title':'Death Note Opening 2','url':'https://www.youtube.com/watch?v=-fSDAahYIEI'},{'title':'Deadman Wonderland ','url':'https://www.youtube.com/watch?v=2pZ-UpjtlXY'}]}" ></script>
  <!-- SCM Music Player script end -->


  <%=image_tag "/assets/portada.jpg", :class => "portada img-responsive"%>

  <%= render 'layouts/header' %>


  <% flash.each do |name, msg| %>
  <% content_tag(:div, msg, class: "alert alert-info") %>
	<%end%>





<!--<div class="col-md-6 col-lg-9 col-sm-12">-->

  <div class="container-fluid">
	  <%= yield %>

  </div>
  <!--</div>-->

<!--
    <div class="boton-paypal">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCWvlEpPYECmGbMaO6SmTd95bRWcxTkjrafPySEAi/zE3EvZFNK0bppgZRSJGhJ7O4+zjvd4Sr2ZirQdvgQbTNfn6ZXPfDMCJkKbhQ1kNyh3i9uORIYt8zeapzKsZXS61DXK6x1tRaip1JFKWN3xG2FpTRpQ0IMa1X9/iiUMOasNDELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI5kgJ5qDttHCAgZCSe1fo/axRinj0t2gy0CVtEu9JYiMvKXmFypmB0pTNYyucpq+zdLSfVGl4uNg4QZD08bj+HmIntCln9LtollVz5rJ2DFEkbpdMP9LWefs052r9QiNxv8b0d1Ds1c7yWu7k2Otnqf6UvP2hsY3PIHv0RXc15I60H1hbhuT6TCLbq2Hr9bmbgW4BDcBTLmdXgLagggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNzAxMjQyMjQ4MTBaMCMGCSqGSIb3DQEJBDEWBBT1cvVwXgSkKFY2ovttuKwUlQqt5DANBgkqhkiG9w0BAQEFAASBgKJ6asUmelYYYc93jxGSroogxgqsvzuOaEKRaly5B7yDyWLE6UVhAxCWEnh949W8an7/9Pbe0nYUPk2nvcmTcVYWynsNf5eUYCh+oyLXIk3eHZG+RwC77b4Zb6VaX6Msv7VXit6bjkR4ZhklwujCM+hf8yyTCRkTppakgu+VeyrP-----END PKCS7-----
    ">
          <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>-->








<!--Ley de cookies-->
<div class="cookiesms" id="cookie1">
Esta web utiliza cookies, si gustas puedes ver nuestra política de <%= link_to 'Cookies', cookies_path %>,
si continuas navegando estás aceptándola.
  <button onclick="controlcookies()" class="btn btn-info">Aceptar</button>
    <div  class="cookies2" onmouseover="document.getElementById('cookie1').style.bottom = '0px';">Política de cookies + </div>
</div>

<script>
if (localStorage.controlcookie>0){
document.getElementById('cookie1').style.bottom = '-50px';
path: '/assets/'
}
</script>
<!--Ley de cookies-->



</body>
</html>
